<%- include ("partials/_header") %>

<title>TinyApp - Welcome</title>
</head>

<body>
    <main style="margin: 1em;">
        <h3><strong>URLs</strong></h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Short URL</th>
                    <th scope="col">Long URL</th>
                    <th scope="col">Total Views</th>
                    <th scope="col">Unique Views</th>
                    <th scope="col">Date Created</th>
                </tr>
            </thead>
            <tbody>
                <% for(let url in urls) { %>
                <tr>
                    <td><a href="/u/<%= url %>"><%= url %></a></td>
                    <td><%= urls[url].longURL %></td>
                    <td><%= urls[url].logs.length %></td>
                    <td><%= urls[url].visitors.length %></td>
                    <td><%= urls[url].dateCreated %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </main>

    <%- include ("partials/_footer") %>