<%- include ('partials/_header') %>

<title>URL - TinyApp Example</title>
</head>

<body>
    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">TinyURL for: <%= longURL %></h5>
            <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
        </div>
        <div class="card-footer text-muted">
            <h1 class='mx-auto'>Edit</h1>
            <form class='mx-auto form-inline' action='/urls/<%= shortURL %>/update' method='POST' style='width: 50%;'>
                <div class="form-group mb-2">
                    <label for="longURL">New URL:</label>
                    <input class="form-control" type="text" name="longURL" placeholder="<%= longURL %>"
                        style="width: 300px; margin: 1em">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <%- include ('partials/_footer') %>